.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select {
  border: 1px solid rgb(226, 222, 222);
  padding: 10px;
}

.select > span {
  font-size: 1.2rem;
  padding: 0% 5%;
  animation: randomColor 0.8s ease-in-out infinite alternate;
}
/* randomColor animation */
@keyframes randomColor {
  0% {
    color: #03045e;
  }
  50% {
    color: #00b4d8;
  }
  100% {
    color: #90e0ef;
  }
}

.select > span:hover {
  color: blue;
}
.product {
  border: 1px dotted #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #f5f5f5;
  width: 400px;
}
.maindisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.filterByRating > * {
  margin: 5px;
  width: 250px;
}
.filterByRating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filterByRating {
  margin: 12px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted #ccc;
  background-color: #21325e;
  color: #3e497a;
  margin-top: 12px;
}
.pagination > * {
  margin: 5px;
  padding: 12px;
  border: 1px dotted #ccc;
  background-color: rgb(255, 196, 0);
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  animation: backgroud-color 0.5s ease-in-out infinite alternate;
}
/* backgroud-color animation */
@keyframes backgroud-color {
  0% {
    background-color: rgb(255, 196, 0);
  }
  50% {
    background-color: rgb(255, 238, 0);
  }
  100% {
    background-color: rgb(255, 196, 0);
  }
}
.searchitems > input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 12px;
}
.checkout {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  animation: pop 0.5s alternate;
}
/* // pop aninmation for checkout button */
@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.form-group {
  margin: 12px;
}
label {
  font-size: 1.2rem;
}
.form-control {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 12px;
}
.form-control:focus {
  border: 1px solid blue;
}
.form-control:focus ~ .form-control-feedback {
  color: blue;
}
.form-control-feedback {
  color: red;
  font-size: 1.2rem;
  padding: 0% 5%;
}
.form-control-feedback:hover {
  color: blue;
}
.form-control-feedback:focus {
  color: blue;
}
input {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  animation: pop 0.5s alternate;
  border-radius: 25px;
  box-shadow: 0px 0px 10px rgb(17, 12, 12);
  animation: snake 0.5s alternate infinite;
}
.mybtm {
  margin-top: 10px;
  background-color: blue;
  color: white;
  padding: 10px;
  border: 0px;
  border-radius: 23px;
}
form {
  margin: 12px;
  width: 350px;
  border: 1px solid #ccc;
  background-color: antiquewhite;
  padding: 10px;
}
.checkoutMe {
  margin: 12px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  border-radius: 26px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.searchBar {
  margin: 12px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  border-radius: 26px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  animation: snake 0.5s alternate infinite;
}
@keyframes snake {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.keep {
  /* center it */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
